.registerPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.registerPanel .logo {
  width: 167px;
  margin-top: 43px;
}

.registerPanel .heading {
  margin-top: 40px;
  font: 24px PoppinsBd;
  color: #0f71ba;
}

.registerPanel .panelIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.registerPanel .panelIcon .iconContainer {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerPanel .panelIcon .blue {
  background-color: #0078ff;
}

.registerPanel .panelIcon .red {
  background-color: #ea4335;
}

.registerPanel .welcome {
  font: 18px Poppins;
  margin-top: 30px;
  text-align: center;
}

.registerPanel button {
  margin-top: 30px;
  width: 75%;
  height: 45px;
  background-color: #0f71ba;
  text-align: center;
  border-radius: 10px;
  line-height: 45px;
  color: white;
  font: 14px PoppinsSb;
}

.registerPanel .notification {
  font: 14px Poppins;
  margin-top: 40px;
}

.registerPanel .loginPath {
  margin-top: 10px;
  font: 14px PoppinsMd;
  color: 30f71ba;
}

.registerPanel .registerForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.registerPanel .registerForm .inputField {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.registerPanel .registerForm .inputField .input {
  width: 35%;
  max-width: 244px;
  height: 45px;
  border-radius: 10px;
  border: 0.5px solid #646464;
  margin: 0 5px;
  padding-left: 30px;
}

.registerPanel .registerForm .inputField input::placeholder {
  font: 14px Poppins;
  color: #646464;
}

.registerPanel .registerForm .inputField .emailField {
  width: 72%;
  max-width: 499px;
  height: 45px;
  border-radius: 10px;
  border: 0.5px solid #646464;
  margin: 0 5px;
  padding-left: 30px;
}

.RegisterPage {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  overflow: hidden;
  display: flex;
}
